.down,.up,div.div2,div.inline{margin-bottom:0}
/* /////////////////////////////////////////////////////////////////////////// */
body,html{ 
    min-height: 100vh;
    height:90%;margin:0;
    background:#005aa7;
    background:-webkit-linear-gradient(to right,#fffde4,#005aa7);
    background:linear-gradient(to right,#fffde4,#005aa7)}

h2 a{text-decoration:none; color: black;}

.body-text{margin-left:150px;font-size:18px}
/* /////////////////////////////////////////////////////////////////////////// */
img{
    border-style:none;
    width:55px;height:55px;
    -webkit-transition:width 2s,height 2s,-webkit-transform 2s;
    transition:width 2s,height 2s,transform .1s;
    margin-bottom:2%;
    margin-right:1.5%;
    border-radius:10px}
/* /////////////////////////////////////////////////////////////////////////// */  
img:hover{
    width:120px;
    height:120px;
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)}
div.div2{margin-left:22%;margin-top:2%}
.down{margin-top:30%}
.nav-link{font-weight:700}
div .card {display:inline-block;      max-width: 22rem; }
/* /////////////////////////////////////////////////////////////////////////// */
.navbar{
     background-color:#002143 !important;
     color:white !important;
}
.navbar-brand{
    margin: 0% 50% 0% -11%;
    color:white !important;
}
.nav-link{

    color:white !important;
 }
 .navbar-expand-lg.navbar-nav.nav-link{
    margin: 0% 10% 0%  20%;
 }
 
.nav-link:hover{
   color:#a71ea7 !important;
}
.navbar-brand:hover{
    color:#a71ea7 !important;
}
/* /////////////////////////////////////////////////////////////////////////// */
div.inline{
    margin:8% 0% 0% 10%;}
div.inline img{
    margin:1%}  
.space{margin-left:calc(45% + 385px);}
 