body {background: linear-gradient(to right, #fffde4, #005aa7)}

:root {--top:5% ; --left:15%}
.top  { margin:var(--top) 0% 0% 15% ;  display:inline-block; width: 110vh;  }
.right{ margin:0% 0% 0% 0% ;           display:inline-block;}
.left { margin:0% 58.7% 1% var(--left);display:inline-block; }
.down { margin:0% 0% 0% var(--left);   display:inline-block; width: 110vh;}

img {
    width: 55px;
    height: 55px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform .1s;
    margin: 0% 1.5% 2% 0%;
    border-radius: 10px}

img:hover { width: 100px;height: 100px;  -webkit-transform: rotate(360deg);  transform: rotate(360deg)}
 
.nav-link {font-weight: 700}

.navbar.navbar-expand-lg.navbar-dark.bg-dark,.fixed-top{ 
    background-color: #002143 !important;  display: block; position: relative;}
 
.navbar-brand {margin: 0% 70% 0% -15%;}
.nav-link {color: white !important;}
.nav-link:hover,.navbar-brand:hover {color: #a71ea7 !important;}
 
 
.book {
    display: inline-block;
    margin: 3% 1% 0.5% 3%;
    padding-bottom: 0.5%;
}

.book img { height: 6rem; width: 85%; }

.book:hover img {opacity: 0.6;}

.yo {
    display: inline-table;
    margin: 1% 1% 0.5% 2%;
    padding-bottom: 0.5%;
    font-weight: bold;
}

.yo img {  height: 6rem;width: 85%;}

.yo:hover img {opacity: 0.6; }

.ar {text-align: right;}

.sidebar {
    min-height:calc(100vh - 56px);  
    display: inline-block;
    width: 119px;
    background-color: #002143;
    font-weight: bold;
    text-align: center;
}

.card {width: 1500px;}

.sidebar a { text-decoration: none; color: #fff;  display: inline-block; padding: 15px;  }
.links{margin: -63.5% 2% -3% 9%;display: table;}
.label{margin: 1% 83% 1% 0%;display: block; width: max-content;}
.underlabel{margin:0% 0% 0% 1%}

li { text-align: right; direction: rtl; }

h2 a { text-decoration: none; color: black;  }

.qoutes{
    position: absolute;
    top: 44%;
    right: 27%;
    max-width: 50%;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    align-content: center;
    display: table-cell;

    width:780px;height:135px;
}

#qoutes_val{
    text-align: center; 
    align-items: center ;
    justify-items: center;
    vertical-align: middle;
    align-self: center;
    justify-self: center;
  
 }
