tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style16
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Hyperlink;
	mso-style-id:8;}
a:link
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
a:visited
	{color:#954F72;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style16;
	color:white;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl66
	{mso-style-parent:style16;
	color:white;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	font-size:15.0pt;
	text-align:center;
	vertical-align:middle;
	background:black;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;}
.xl69
	{mso-style-parent:style16;
	color:white;
	font-size:14.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	background:black;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style16;
	color:white;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid #5B9BD5;
	background:black;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style16;
	color:windowtext;
	font-size:30.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid #5B9BD5;
	background:#FFC000;
	mso-pattern:black none;
	white-space:normal;}
.xl73
	{mso-style-parent:style16;
	color:white;
	font-size:14.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid #5B9BD5;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl74
	{mso-style-parent:style16;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid #5B9BD5;
	background:#FFC000;
	mso-pattern:black none;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	font-size:14.0pt;
	text-align:center;
	background:black;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style16;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFC000;
	mso-pattern:black none;
	white-space:normal;}
.xl77
	{mso-style-parent:style0;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	background:black;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style16;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;
	white-space:normal;}
.xl79
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:black;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#A6A6A6;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style16;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:black;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:black;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style16;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#A6A6A6;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style16;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:black;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style16;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#A6A6A6;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style16;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#A6A6A6;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style16;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#A6A6A6;
	mso-pattern:black none;}
.xl89
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:black;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style16;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#A6A6A6;
	mso-pattern:black none;
	white-space:normal;}
.xl91
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:black;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#A6A6A6;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style16;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:black;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style16;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#A6A6A6;
	mso-pattern:black none;
	white-space:normal;}
.xl95
	{mso-style-parent:style16;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl96
	{mso-style-parent:style16;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:black;
	mso-pattern:black none;}
.xl98
	{mso-style-parent:style16;
	color:windowtext;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#BFBFBF;
	mso-pattern:black none;}
.xl99
	{mso-style-parent:style16;
	color:white;
	font-size:14.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:black;
	mso-pattern:black none;}
.xl100
	{mso-style-parent:style16;
	color:#0563C1;
	text-decoration:underline;
	text-underline-style:single;
	text-align:center;
	vertical-align:middle;
	background:black;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style16;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:black;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style16;
	color:windowtext;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#BFBFBF;
	mso-pattern:black none;
	white-space:normal;}
.xl103
	{mso-style-parent:style16;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#FFC000;
	mso-pattern:black none;
	white-space:normal;}
.xl104
	{mso-style-parent:style16;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:red;
	mso-pattern:black none;
	white-space:normal;}
.xl105
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#4472C4;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#4472C4;
	mso-pattern:black none;}
.xl107
	{mso-style-parent:style16;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFC000;
	mso-pattern:black none;
	white-space:normal;}
.xl108
	{mso-style-parent:style16;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #5B9BD5;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFC000;
	mso-pattern:black none;
	white-space:normal;}
.xl109
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#0070C0;
	mso-pattern:black none;}
.xl110
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#0070C0;
	mso-pattern:black none;}
.xl111
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#4472C4;
	mso-pattern:black none;}
.xl112
	{mso-style-parent:style0;
	font-size:16.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#D0CECE;
	mso-pattern:black none;}
.xl113
	{mso-style-parent:style0;
	font-size:16.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#D0CECE;
	mso-pattern:black none;}
.xl114
	{mso-style-parent:style0;
	font-size:16.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#D0CECE;
	mso-pattern:black none;}
.xl115
	{mso-style-parent:style16;
	color:#0563C1;
	text-decoration:underline;
	text-underline-style:single;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#D0CECE;
	mso-pattern:black none;}
.xl116
	{mso-style-parent:style16;
	color:#0563C1;
	text-decoration:underline;
	text-underline-style:single;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid white;
	border-bottom:none;
	border-left:none;
	background:#D0CECE;
	mso-pattern:black none;}
.xl117
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:.5pt solid white;
	border-left:none;}
.xl118
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:.5pt solid white;
	border-bottom:.5pt solid white;
	border-left:none;}
.xl119
	{mso-style-parent:style0;
	font-size:14.0pt;
	text-align:center;
	border-top:.5pt solid #5B9BD5;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#0070C0;
	mso-pattern:black none;}
.xl120
	{mso-style-parent:style0;
	color:white;
	font-size:14.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #5B9BD5;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:black;
	mso-pattern:black none;}
